{% extends 'member/common/layout.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card shadow-sm my-5">
        <div class="card-body p-5">
          <h2 class="mb-4 text-center">Make Payment Using Razorpay</h2>
          {% if messages %}
          <div class="alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <p class="mb-0 {{ message.tags }}">{{ message }}</p>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          <form class="row g-3" action="/member/r_details/{{ the_user_id }}/{{m_id}}" method="POST">
            {% csrf_token %}

            <!-- RAZORPAY INTEGRATION HERE -->
            <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_qu1r85W33FbFlf"
              data-amount="{{result2.amount}}" data-currency="INR" data-order_id="{{payment.id}}"
              data-buttontext="Pay with Razorpay" data-name="Shivam Casa" data-description="Complete Business Solution"
              data-image="https://shivamcasa.000webhostapp.com/logo3.png"
              data-prefill.name="{{request.user.first_name}}" data-prefill.email="{{request.user.email}}"
              data-prefill.contact="{{phone}}" data-theme.color="#fcfdfd"></script>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2 mb-5">
    <div class="col-lg-8 mx-auto">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="text-center mb-4">Contact Information</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Address:</strong>Ahmedabad, Gujarat, India</li>
            <li class="list-group-item"><strong>Phone:</strong> <a href="#">+91 9000090000</a></li>
            <li class="list-group-item"><strong>Email:</strong> <a
                href="mailto:praxware@gmail.com">info@neighbourlynexus.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}