{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
    <style>
        h1 {
          text-align: center;
          font-size: 24px;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
  <center><img src="https://shivamcasa.000webhostapp.com/logo3.png" alt="" style="height: 100px; width: 300px"></center>
     <hr/>
      <h1 style="text-decoration: underline;">List of Paid Event</h1>
      <h3>Report Created On : {{current_date}}</h3>
      <table border="1" align="center" cellpadding="5" cellspacing="0">
        <thead>
          <tr>
            <th><i class="me-1"></i>Sr No.</th>
            <th>Name</th>
            <th>House No.</th>
            <th>Contact</th>
            <th>Event Amount</th>
            <th>Payment Date</th>
          </tr>
        </thead>
        <tbody>
          {% for person in data %}
            <tr>
              <td>{{person.id}}</td>
              <td>{{person.member.user.first_name}}</td>
              <td>{{person.member.house_no}}</td>
              <td>{{person.member.phone}}</td>
              <td>{{person.event.price}}</td>
              <td>{{person.date}}</td>
            </tr>
          {% endfor %}    
        </tbody>
      </table>
</body>
</html>