{% extends 'myadmin/common/layout.html' %}
{% load static %}


{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">

              <!-- Basic Bootstrap Table -->
              <div class="card  col-12">
                <h5 class="card-header text-center">Chairman Details</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>

                      <!-- id,username,fname,lname,email,action -->
                      <!-- gender,phone,city -->
                      

                    </thead>
                    <tbody class="table-border-bottom-0 text-center">
                      {% for row in result2 %}

                      <tr>
                        <th class="border-right">ID</th>
                        <td> {{row.user.id}}</td>
                      </tr>
                      <tr>
                        <th class="border-right">First Name</th>
                        <td>{{row.user.first_name}}</td>
                      </tr>
                       <tr>
                        <th class="border-right">Last Name</th>
                        <td>{{row.user.last_name}}</td>
                      </tr>
                      
                      <tr>
                        <th class="border-right">Username</th>
                        <td>{{row.user.username}}</td>
                      </tr>
                      <tr>
                        <th class="border-right">Email</th>
                        <td>{{row.user.email}}</td>
                      </tr>
                       <tr>
                        <th class="border-right">Phone</th>
                        <td>{{row.phone}}</td>
                      </tr>
                      <tr>
                        <th class="border-right">Gender</th>
                        <td>{{row.gender}}</td>
                      </tr>
                      
                      <tr>
                        <th class="border-right">Registration Date</th>
                        <td>{{row.reg_date}}</td>
                      </tr>
                  
                      <tr>
                        <th class="border-right">Remove Chairman</th>
                        <td><a href="/myadmin/remove_chairman/{{row.id}}">Remove</a></td>
                      </tr>
                      <tr>
                        <th class="border-right">Edit Chairman Details</th>
                        <td><a href="#">Edit</a></td>
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
{% endblock %}